{% extends "base.html" %}
{% load url from future %}
{% load youtube_embed_tags %}

{% block extra_head %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
{{ form.media }}
{% endblock extra_head %}

{% block container %}
{{ form.errors }}
<form id="youtube-form" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send" />
</form>
<div>
    {% render_title_span_for form.youtube_id %}<br />
    {% render_img_for form.youtube_id %}<br />
    {% render_desc_span_for form.youtube_id %}<br />
</div>
{% endblock container %}
